.area {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#specifications {
    float: right;
    width: 70%;
    background: #5fffa2;
}

#possible-steps-list {
    float: left;
    width: 20%;
    background: #ffd080;
}

body {
    width: 100%;
}

.hidden {
    display: none;
}

.dsl-item {
    background: #8c9fff;
}

.spec-selected {
    background: #d5ff86;
}

