
#specifications {
    float: right;
    width: 70%;
    background: #5fffa2;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#possible-steps-list {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 10px;
    background: #ffd080;
    border-radius: 10px;
}

body {
    width: 100%;
}

.hidden {
    display: none;
}

.dsl-item {
    border-radius: 10px;
    background: #8c9fff;
    padding: 10px;
    margin: 10px;
}
